 /* CSS RESET: Setting the margin and padding to 0px */
 body {
    font-family: 'Baloo Bhaina 2', cursive;

    color: white;
    margin: 0px;
    padding: 0px;
    background: url('https://cdn.pixabay.com/photo/2018/03/23/11/57/girl-3253532_1280.jpg');
    background-size: cover;
}

.left div {
    text-align: center;
    line-height: 15px;
    font-size: 20px;

}

.left img {

    width: 120px;
    filter: invert(100%);
}

.left {
    position: absolute;
    left: auto;
    top: auto;
    display: inline-block;
    /* border: 2px solid red; */

}

.mid {
    display: block;
    width: 58%;
    margin: auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2', cursive;

}

.btn:hover {
    background-color: rgb(187, 171, 171);
}

.container {
    /* border: 2px solid white; */
    margin: 50px 50px;
    padding: 40px;
    width: 40%;
    border-radius: 28px;
}
.form-group input{
    text-align: center;
    font-family: 'Baloo Bhaina 2', cursive;
    display: block;
    width: 420px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 17px;
    border-radius: 8px;
    
}
.container h1{
    text-align: center;
    font-size: 30px;
  
}
.container button{
    display: block;
    width: 78%;
    margin:20px auto;
}